:root {
    --font-family-base: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    --font-family-title: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  }
  body {
    font-family: var(--font-family-base);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
  }
  a {
    color: var(--text-color);
  }
  .visually-hidden {
    display: none;
  }
  .card-category,
  .section-tagline {
    color: var(--color-primary);
  }